.chat-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat-list-stack {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

@media (max-width: 600px) {
  .chat-list {
    gap: 14px;
  }
}
